@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	width: 100%;
	height: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-family: Montserrat, sans-serif;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

body {
	background-color: whitesmoke;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

input::-webkit-input-placeholder {
	opacity: 1;
	transition: opacity 0.1s ease;
}

input::-moz-placeholder {
	opacity: 1;
	transition: opacity 0.1s ease;
}

input:-moz-placeholder {
	opacity: 1;
	transition: opacity 0.1s ease;
}

input:-ms-input-placeholder {
	opacity: 1;
	transition: opacity 0.1s ease;
}

input:focus::-webkit-input-placeholder {
	opacity: 0;
	transition: opacity 0.1s ease;
}

input:focus::-moz-placeholder {
	opacity: 0;
	transition: opacity 0.1s ease;
}

input:focus:-moz-placeholder {
	opacity: 0;
	transition: opacity 0.1s ease;
}

input:focus:-ms-input-placeholder {
	opacity: 0;
	transition: opacity 0.1s ease;
}

body.lock {
	overflow: hidden;
}

.wrapper {
	height: 100%;
}

.container {
	max-width: 1100px;
	padding: 0 20px;
	margin: 0 auto;
}

.ibg {
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.ibg img {
	width: 0;
	height: 0;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
}

.header {
	position: absolute;
	z-index: 50;
	width: 100%;
	top: 0;
	left: 0;
	background-color: darkcyan;
}

.header:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: darkcyan;
	z-index: 2;
}

.header__row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	height: 70px;
}

.header__logo {
	width: 120px;
	cursor: pointer;
	position: relative;
	z-index: 3;
}

.header__logo img {
	display: block;
	max-width: 100%;
	border-radius: 10px;
}

.header__body {
	display: flex;
	transition: all .3s ease 0s;
}

.header__list {
	display: flex;
	position: relative;
	z-index: 3;
}

.header__body.active {
	top: 0;
}

.header__list li {
	margin: 0 30px 0 0;
}

.header__list li:last-child {
	margin: 0;
}

.header__list li a {
	color: #fff;
	font-size: 15px;
}

.header__list li a:hover {
	text-decoration: underline;
}

.header__menu {
	position: absolute;
	top: 0;
	right: 0;
	width: 40px;
	height: 30px;
	top: 50%;
	transform: translate(0, -50%);
	cursor: pointer;
	display: none;
	z-index: 3;
}

.header__menu.active span:first-child {
	transform: rotate(45deg);
	top: 14px;
}

.header__menu.active span:nth-child(2) {
	transform: scale(0);
}

.header__menu.active span:last-child {
	transform: rotate(-45deg);
	bottom: 14px;
}

.header__menu span {
	position: absolute;
	background-color: #fff;
	width: 100%;
	left: 0;
	height: 3px;
	border-radius: 10px;
	transition: all 0.3s ease 0s;
}

.header__menu span:first-child {
	top: 0;
}

.header__menu span:nth-child(2) {
	top: 14px;
}

.header__menu span:last-child {
	bottom: 0;
}

.call__body {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 50;
	align-items: center;
	padding: 20px;
}

.call-close {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 40px;
	height: 30px;
	cursor: pointer;
}

.call-close:before {
	content: '';
	position: absolute;
	top: 14px;
	left: 0;
	width: 100%;
	height: 3px;
	background-color: #000;
	transform: rotate(45deg);
}

.call-close:after {
	content: '';
	position: absolute;
	bottom: 14px;
	left: 0;
	width: 100%;
	height: 3px;
	background-color: #000;
	transform: rotate(-45deg);
}

.call__body.open-form {
	display: flex;
	align-items: center;
	justify-content: center;
}

.call-form {
	width: 400px;
	padding: 35px;
	background-color: darkcyan;
	border-top-left-radius: 25px;
	border-bottom-right-radius: 25px;
}

.call-form span {
	font-size: 16px;
	line-height: 1.2;
	color: #fff;
}

.call-form input {
	padding: 8px;
	width: 100%;
	font-size: 20px;
	border-radius: 5px;
}

.call-form input:focus {
	border: 2px solid #000;
}

.call-form input:nth-child(2) {
	margin: 20px 0 0 0;
}

.call-form input:nth-child(3) {
	margin: 20px 0;
}

.call-form button {
	display: block;
	padding: 15px 25px;
	font-size: 25px;
	text-transform: uppercase;
	border-radius: 25px;
	color: #fff;
	background-color: green;
	margin: 0 auto;
	transition: all .5s ease 0s;
}

.call-form button:hover {
	background-color: #fff;
	color: #000;
}

.call-thank-you {
	display: none;
	width: 400px;
	padding: 150px 15px;
	background: rgb(225, 255, 255);
	background: -moz-linear-gradient(top, rgba(225, 255, 255, 1) 0%, rgba(225, 255, 255, 1) 7%, rgba(225, 255, 255, 1) 10%, rgba(225, 255, 255, 1) 10%, rgba(230, 248, 253, 1) 30%, rgba(200, 238, 251, 1) 100%, rgba(253, 255, 255, 1) 100%, rgba(253, 255, 255, 1) 100%, rgba(177, 216, 245, 1) 100%);
	background: -webkit-linear-gradient(top, rgba(225, 255, 255, 1) 0%, rgba(225, 255, 255, 1) 7%, rgba(225, 255, 255, 1) 10%, rgba(225, 255, 255, 1) 10%, rgba(230, 248, 253, 1) 30%, rgba(200, 238, 251, 1) 100%, rgba(253, 255, 255, 1) 100%, rgba(253, 255, 255, 1) 100%, rgba(177, 216, 245, 1) 100%);
	background: linear-gradient(to bottom, rgba(225, 255, 255, 1) 0%, rgba(225, 255, 255, 1) 7%, rgba(225, 255, 255, 1) 10%, rgba(225, 255, 255, 1) 10%, rgba(230, 248, 253, 1) 30%, rgba(200, 238, 251, 1) 100%, rgba(253, 255, 255, 1) 100%, rgba(253, 255, 255, 1) 100%, rgba(177, 216, 245, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e1ffff', endColorstr='#b1d8f5', GradientType=0);
}

.call-thank-you__text {
	font-size: 30px;
	text-align: center;
	color: #333;
}

.call__item {
	position: fixed;
	width: 70px;
	height: 70px;
	right: 40px;
	bottom: 40px;
	z-index: 10;
	display: none;
}

.call__item:after {
	content: '';
	position: absolute;
	background: url('../img/call_back/01.png') center center no-repeat;
	background-size: cover;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	cursor: pointer;
	z-index: 12;
}

.call__item:before {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 128, 0, 0.4);
	border-radius: 50%;
	transform: scale(1);
	z-index: 11;
	animation: call 0.8s infinite 0.3s;
}

.call__item.open-form:before {
	display: none;
}

@keyframes call {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(1.7);
	}
}

.main {
	width: 100%;
	border-bottom: 2px solid rgba(0, 0, 0, 0.2);
	background-color: whitesmoke;
}

.main__title {
	font-size: 55px;
	color: darkcyan;
	text-align: center;
	text-transform: uppercase;
	padding: 200px 0 0 0;
	line-height: 1.2;
}

.main__text {
	font-size: 35px;
	padding: 35px 0 130px 0;
	color: #000;
	text-align: center;
}

.family {
	height: 700px;
	border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.uslugi {
	width: 100%;
	background-color: whitesmoke;
}

.uslugi__title {
	font-size: 35px;
	color: #000;
	text-align: center;
	padding: 35px 0 0 0;
}

.uslugi__body {
	padding: 25px 0 25px 0;
}

.uslugi__list li {
	margin: 25px 0 0 0;
}

.uslugi-item {
	display: flex;
}

.uslugi-item__logo {
	width: 70px;
	height: 70px;
	background-color: darkcyan;
	border-radius: 50%;
	flex: 0 1 auto;
	justify-content: center;
	align-items: center;
	padding: 10px;
	flex: 0 0 auto;
}

.uslugi-item__logo img {
	max-width: 100%;
	filter: invert(100%);
	-webkit-filter: invert(100%);
}

.uslugi-item__text {
	padding: 0 0 0 25px;
	font-size: 25px;
	display: flex;
	align-items: center;
	line-height: 1.2;
}

.why {
	padding: 25px 0 60px 0;
	background-color: whitesmoke;
}

.why__title {
	font-size: 35px;
	color: #000;
	text-align: center;
}

.why__body {
	margin: 50px 0 0 0;
}

.why__list li {
	margin: 25px 0 0 0;
	padding: 0 0 0 50px;
	position: relative;
	font-size: 25px;
}

.why__list li:before {
	content: '';
	position: absolute;
	top: 0;
	margin: -20px 0 0 -10px;
	left: 0;
	width: 50px;
	height: 50px;
	background: url('../img/block_4/icons/01.svg') center no-repeat;
}

.why__row {
	display: flex;
	flex-wrap: wrap;
}

.why__block {
	display: flex;
	margin: 30px 30px 0 0;
	align-items: center;
	border: 2px solid darkcyan;
	padding: 0 5px;
	width: 250px;
	border-radius: 20px;
	height: 70px;
	cursor: pointer;
}

.why__img {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 50;
	background-size: contain;
	display: none;
}

.why__item.open .why__img {
	display: block;
}

.why__close {
	position: absolute;
	width: 40px;
	height: 30px;
	top: 10px;
	right: 10px;
	cursor: pointer;
}

.why__close span {
	position: absolute;
	left: 0;
	width: 100%;
	height: 3px;
	background-color: black;
}

.why__close span:first-child {
	top: 14px;
	transform: rotate(45deg);
}

.why__close span:last-child {
	bottom: 14px;
	transform: rotate(-45deg);
}

.why-item__logo {
	width: 50px;
	flex: 0 0 auto;
	padding: 5px;
}

.why-item__logo img {
	display: block;
	max-width: 100%;
}

.why-item__body {
	padding: 10px 20px;
	margin: 0 auto;
}

.why-item__title {
	text-align: center;
	font-size: 20px;
	color: darkcyan;
}

.why-item__text {
	font-size: 15px;
	text-align: center;
	padding: 7px 0 0 0;
}

.nums {
	background-attachment: fixed;
	background-position: top center;
}

.nums__dark {
	background-color: rgba(0, 0, 0, 0.4);
	width: 100%;
	height: 100%;
	padding: 40px 0;
}

.nums__row {
	display: flex;
	flex-wrap: wrap;
}

.nums__column {
	flex: 0 0 25%;
}

.nums-item__title {
	color: lime;
	font-size: 50px;
	margin: 0 0 25px 0;
	text-align: center;
	padding: 0 15px;
}

.nums__text {
	font-size: 20px;
	color: #fff;
	margin: 0 0 40px 0;
	padding: 0 10px;
	text-align: center;
}

.clients {
	width: 100%;
	background-color: whitesmoke;
}

.clients__title {
	font-size: 35px;
	color: #000;
	text-align: center;
	padding: 30px 0 0 0;
}

.clients__body {
	padding: 30px 0 50px 0;
}

.clients-slider {
	position: relative;
}

.slick-list {
	overflow: hidden;
}

.slick-track {
	display: flex;
}

.clients-slider__img {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 50px 20px;
}

.clients-slider__img img {
	display: block;
	width: 150px;
}

.clients-slider .slick-arrow {
	position: absolute;
	font-size: 0;
	margin: 0 0 -20px 0;
}

.clients-slider .slick-arrow.slick-prev {
	bottom: 0;
	left: 40%;
	transform: translate(-40%, 0);
	width: 45px;
	height: 30px;
	background: url('../img/block_6/icons/01.svg') center center no-repeat;
	background-size: contain;
}

.slick-arrow.slick-next {
	bottom: 0;
	right: 40%;
	transform: translate(40%, 0);
	width: 45px;
	height: 30px;
	background: url('../img/block_6/icons/02.svg') center center no-repeat;
	background-size: contain;
}

.info {
	width: 100%;
	background-color: whitesmoke;
}

.info__tilte {
	font-size: 35px;
	text-align: center;
	padding: 50px 0 0 0;
}

.info__body {
	padding: 50px 0;
}

.info__row {
	display: flex;
	flex-wrap: wrap;
}

.info__item {
	flex: 0 0 50%;
}

.info-day__list {}

.info-day__list li {
	margin: 10px 0 0 0;
	font-size: 16px;
}

.info-day__list li:first-child {
	margin: 0;
}

.info-day__list li:nth-child(6),
.info-day__list li:last-child {
	font-weight: 700;
}

.info-phone__list li {
	margin: 15px 0 0 0;
	padding: 0 0 0 35px;
	font-size: 25px;
	position: relative;
}

.info-phone__list li:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 25px;
	height: 25px;
	background: url('../img/block_7/icons/01.png') 0 0 no-repeat;
	background-size: contain;
}

.info-phone__list li:first-child {
	margin: 0;
}

.info-phone__list li a {
	color: #000;
	transition: all 0.1s ease 0s;
}

.info-phone__list li a:hover {
	color: darkcyan;
}

.info__social {
	margin: 15px 0 0 0;
	display: flex;
}

.info__img {
	width: 30px;
	margin: 0 20px 0 0;
	cursor: pointer;
}

.info__img img {
	display: block;
	width: 100%;
}

.info__text {
	margin: 40px 0 0 0;
	padding: 0 0 0 35px;
	font-size: 25px;
	position: relative;
}

.info__text:before {
	content: '';
	position: absolute;
	top: -5px;
	left: 0;
	width: 25px;
	height: 30px;
	background: url('../img/block_7/icons/02.png') 0 0 no-repeat;
	background-size: contain;
}

.info__text a {
	color: #000;
	transition: all 0.3s ease 0s;
}

.info__text a:hover {
	color: darkcyan;
}

/*prices-content*/
.table {
	width: 100%;
	background-color: whitesmoke;
	padding: 0 0 40px 0;
}

.table__title {
	font-size: 30px;
	padding: 50px 0;
	text-align: center;
}

.table-table {
	width: 100%;
}

.thead {
	width: 100%;
	display: flex;
	background-color: rgba(0, 139, 139, 0.7);
	color: #fff;
	border: 2px solid rgba(0, 0, 0, 0.1);
}

.thead__title {
	font-size: 25px;
	flex: 0 0 66.67%;
	padding: 15px 20px;
	border-right: 2px solid rgba(0, 0, 0, 0.1);
}

.thead__text {
	font-size: 25px;
	flex: 0 0 33.33%;
	padding: 15px 20px;
}

.tbody__row {
	display: flex;
}

.tbody__row:nth-child(even) {
	background-color: rgba(255, 0, 0, 0.04);
}

.tbody__title {
	font-size: 20px;
	flex: 0 0 66.67%;
	padding: 15px 20px;
	border-bottom: 2px solid rgba(0, 0, 0, 0.1);
	border-left: 2px solid rgba(0, 0, 0, 0.1);
	border-right: 2px solid rgba(0, 0, 0, 0.1);
}

.tbody__text {
	font-size: 20px;
	flex: 0 0 33.33%;
	padding: 15px 20px;
	border-bottom: 2px solid rgba(0, 0, 0, 0.1);
	border-right: 2px solid rgba(0, 0, 0, 0.1);
}

/*footer*/
.footer {
	border-top: 5px solid darkcyan;
}

.footer__body {
	width: 100%;
	background-color: rgba(0, 0, 0, .6);
	padding: 20px 0;
}

.footer__list li {
	margin: 20px 0 0 0;
	color: #fff;
	font-size: 20px;
	font-weight: 700;
	line-height: 1.2;
	position: relative;
}

.footer__list li a {
	color: powderblue;
}

.footer__list li:first-child {
	margin: 0;
}

.footer__list li:last-child {
	padding: 0 0 0 40px;
}

.footer__list li:last-child:before {
	content: '';
	background: url('../img/footer/icons/01.svg') left center no-repeat;
	background-size: contain;
	position: absolute;
	width: 50px;
	height: 30px;
	top: 0;
	left: 0;
}

.footer__line {
	width: 100%;
	height: 5px;
	background-color: #fff;
	border-radius: 7px;
}

@media (max-width: 970px) {
	.container {
		max-width: 850px;
	}
}

@media (max-width: 767px) {
	.container {
		max-width: none;
	}

	.header__body {
		display: block;
		position: fixed;
		width: 100%;
		height: 100%;
		left: 0;
		background-color: #fff;
		top: -100%;
		overflow: auto;
	}

	.header__list {
		padding: 120px 0 0 0;
		flex-direction: column;
		align-items: center;
	}

	.header__list li {
		margin: 0 0 25px 0;
	}

	.header__list li:last-child {
		margin: 0 0 30px 0;
	}

	.header__list li a {
		color: darkcyan;
		font-size: 25px;
		text-align: center;
	}

	.header__menu {
		display: block;
	}

	.main__title {
		font-size: 50px;
	}

	.nums__column {
		flex: 0 0 50%;
	}

	.info__item {
		flex: 0 0 100%;
	}

	.info__item:first-child {
		order: 2;
	}

	.info__item:last-child {
		order: 1;
	}

	.info-day__list {
		margin: 35px 0 0 0;
	}

	.info-day__list li {
		font-size: 20px;
	}

	.table__title {
		font-size: 25px;
	}

	.thead {
		display: none;
	}

	.tbody {
		border-top: 2px solid rgba(0, 0, 0, 0.1);
	}

	.thead__title,
	.tbody__title {
		flex: 1 1 auto;
		border-right: 0;
	}

	.thead__text,
	.tbody__text {
		flex: 0 0 auto;
		font-size: 16px;
	}

	.thead__title,
	.thead__text {
		font-size: 20px;
	}

	.tbody__title,
	.tbody__text {
		font-size: 16px;
	}
}

@media (max-width: 550px) {
	.call__item {
		width: 45px;
		height: 45px;
		right: 25px;
		bottom: 25px;
	}

	.main__title {
		font-size: 30px;
	}

	.main__text {
		font-size: 25px;
	}
}

@media (max-width: 420px) {
	.call-form {
		padding: 20px;
	}

	.call-form input {
		font-size: 15px;
	}

	.call-form button {
		font-size: 20px;
	}

	.family {
		height: 70vh;
	}

	.uslugi-item__text {
		font-size: 20px;
	}

	.nums__column {
		flex: 0 0 100%;
	}

	.footer__list li {
		font-size: 16px;
	}
}

@media (max-width: 350px) {
	.main__title {
		font-size: 25px;
	}

	.main__text {
		font-size: 20px;
	}
}